---
    import Layout from '../layouts/Layout.astro'
---

<Layout title="About Us">
    <h1 class="text-5xl font-bold">About Us</h1>
    <div class="artboard artboard-horizontal phone-2 text-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
        maiores natus exercitationem et reiciendis minima corporis fugit
        id aliquid assumenda atque iure fugiat iste sint modi beatae,
        quia autem possimus.
    </div>
</Layout>