---
import Layout from "../layouts/Layout.astro";

const users = [
    {
        id: 1,
        name: "Dzulfiqar Siraj",
        job: "Web Developer",
        favColor: "Blue",
    },
    {
        id: 2,
        name: "Intan Permata Sani",
        job: "Lab Assistant",
        favColor: "Yellow",
    },
    {
        id: 3,
        name: "Omnia Farahna Sungkar",
        job: "Businesswoman",
        favColor: "Red",
    },
];
---

<Layout title="Users">
    <main class="flex flex-col bg-[#191D24] h-screen p-24 gap-5">
        <h1 class="text-5xl font-bold">List Users</h1>
        <!-- table - start -->
        <div class="overflow-x-auto">
            <table class="table">
                <!-- head -->
                <thead class="bg-[#1D222A]">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Job</th>
                        <th>Favorite Color</th>
                    </tr>
                </thead>
                <tbody>
                    {users.map((user) => (
                        <tr>
                            <th>{user.id}</th>
                            <td>{user.name}</td>
                            <td>{user.job}</td>
                            <td>{user.favColor}</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </div>
        <!-- table - end -->
    </main>
</Layout>
