---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/barley-svgrepo-com.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro | {title}</title>
    </head>
    <body>
        <Navbar />
        <main class="flex flex-col bg-[#191D24] h-screen p-24 gap-5">
            <slot>
                <p class="p-28">404 Not Found</p>
            </slot>
        </main>
        <Footer />
    </body>
</html>
